body{
    background-color: #0b000f;
    font-smooth: never;
    font: 13px/1.231 Courier New,Courier,clean,sans-serif;
    color: lightgreen;
    font-family: Verdana;
}

h1{
    background-color: transparent;
    text-align: center;
    color: white;
    font-family: Courier New, Courier, clean, sans-serif;
    font-size: 200px;
}

h2{
    background-color: transparent;
    text-align: center;
    color: white;
    font-family: Courier New, Courier, clean, sans-serif;
    font-size: 50px;
}

.image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.indexBox{
    background-color: #0b000f;
    width: 688px;
    border: 1px solid lightgreen;
    padding: 16px;
    margin: auto;
    float: center;
    margin-bottom: 20px;
}

.poemBox{
    background-color: #0b000f;
    width: 500px;
    border: 1px solid lightgreen;
    padding: 16px;
    margin: auto;
    float: center;
    text-align: center;
    margin-bottom: 20px;
}

.boxText{
    font-size: 20px;
    text-align: center;
    font: 20px/1.231 Courier New,Courier,clean,sans-serif;
    font-family: Verdana;
    font-smooth: never;
    margin-bottom: 20px;
}

.indexButton{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.poemText{
    font-size: 20px;
    text-align: center;
    font: 20px/1.231 Courier New,Courier,clean,sans-serif;
    font-family: Verdana;
    font-smooth: never;
    margin-bottom: 20px;
}

.luunsa {
    max-width: 25%;
    height: auto;
}
